
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content [fullscreen]="true">
  
  <ion-card>

    <form>
      <br>
      <ion-title class="tt ion-text-center" color="tertiary"><strong>NARU</strong>app</ion-title>
      <br>
      <ion-item class="pad">
        <ion-input label="E-mail" labelPlacement="floating" placeholder="Digite seu email" type="text"
          [(ngModel)]="email"></ion-input>
        <ion-icon name="mail-outline" color="primary"></ion-icon>
      </ion-item>
      <hr>

      <ion-item class="pad">
        <ion-input label="Senha" labelPlacement="floating" placeholder="Crie uma senha" type="password"
          [(ngModel)]="senha"></ion-input>
        <ion-icon name="key-outline" color="primary"></ion-icon>
      </ion-item><br>

      <div class="ion-margin submit">
        <ion-button expand="block" size="large" color="light" type="submit" (click)="inserirUsuario()">
          <ion-text><strong>proximo</strong></ion-text>
        </ion-button>
      </div>

    </form>

    <hr>

  </ion-card>
</ion-content>