<hr>
<ion-title class="tt ion-text-center" color="tertiary"><strong>G</strong>rupo</ion-title>
<hr>
<div>
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="4" id="pic">
                    <img class="img" src="../../../assets/Naru.png">
                </ion-col>
                <ion-col id="more" class="ion-text-center">
                    <br>
                    <ion-icon name="sparkles-outline"></ion-icon>
                    Naru
                    <hr>
                    versão: 3.9
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="4" id="pic">
                    <img class="img" src="../../../assets/sakamoto.jpg">
                </ion-col>
                <ion-col id="more" class="ion-text-center">
                    <br>
                    Bernardo Rocha
                    <hr><br>
                    22203562
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="4" id="pic">
                    <img class="img" src="../../../assets/ze.jpg">
                </ion-col>
                <ion-col id="more" class="ion-text-center">
                    <br>
                    Diego
                    <hr><br>
                    <!--99999999-->
                </ion-col>
            </ion-row>w
        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="4" id="pic">
                    <img class="img" src="../../../assets/FOTO 3X4.jpg">
                </ion-col>
                <ion-col id="more" class="ion-text-center">
                    <br>
                    Emerson de Oliveira Alves
                    <hr><br>
                    22105324
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</div>